@model ClonestoneMVC.Models.tbllogin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbllogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.passcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.passcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblperson.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblperson.firstname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idlogin }) |
    @Html.ActionLink("Back to List", "Index")
</p>
